BACKEND_API_URL=http://localhost:5000
JWT_ACCESS_SECRET=sk_guk_8hZu6QoFT0oaoxiB0
JWT_REFRESH_SECRET=sk_guk_8hZu6QoFT0oaoxiB0saaqw
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

NEXT_PUBLIC_BACKEND_API_URL=http://localhost:5000